<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-4">
				<div class="content">
					<h4 class="has-text-weight-bold">Super Vanilla</h4>
					<p class="is-size-7">A simple contacts manager built with vanilla web technologies.</p>
					<div class="buttons are-small mt-2"></div>
				</div>
			</div>
			<div class="column is-4">
				<div class="content has-text-centered">
					<h4 class="has-text-weight-bold">Built With</h4>
					<div class="tags is-centered">
						<span class="tag is-info">HTML</span>
						<span class="tag is-info">Bulma CSS</span>
						<span class="tag is-info">HTMX</span>
						<span class="tag is-info">Cloudflare Pages</span>
					</div>
				</div>
			</div>
			<div class="column is-4"></div>
		</div>
	</div>
</footer>
