<main class="section">
	<div class="container" id="content">
		<form action="/contacts" method="get" class="tool-bar">
			<div class="field has-addons">
				<div class="control">
					<input class="input" id="search" type="search" name="q" value="{{ q }}" />
				</div>
				<div class="control">
					<button class="button is-link" type="submit">Search</button>
				</div>
			</div>
		</form>

		<table class="table is-fullwidth is-striped">
			<thead>
				<tr>
					<th>Firsty</th>
					<th>Lasty</th>
					<th>Phoney</th>
					<th>Emaily</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#contacts}}
				<tr>
					<td>{{ first_name }}</td>
					<td>{{ last_name }}</td>
					<td>{{ phone }}</td>
					<td>{{ email }}</td>
					<td>{{> controls}}</td>
				</tr>
				{{/contacts}}
			</tbody>
		</table>

		<p>
			<a class="button is-success" href="/contacts/new">Add Contact</a>
		</p>
	</div>
</main>
