<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="path/to/your/logo.png" width="112" height="28" alt="Super Vanilla" />
		</a>
	</div>

	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item button is-light" href="/contacts">All Contacts</a>
			<a class="navbar-item button is-light" href="/contacts/new">New Contact</a>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons" hx-get="/auth/controls" hx-trigger="load"></div>
			</div>
		</div>
	</div>
</nav>
